@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap');

:root {
    --base-background-image: url('assets/paperbackground.jpg');
    --base-background-color: #f4c074;

    --font: "Lumanosimo", cursive;

    --page-color: #f0ead7;

    --page-font-size: 1.1em;

    --page-h1-font-size: 2em;
    --page-h2-font-size: 1.66em;
    --page-h3-font-size: 1.33em;
    --page-h4-font-size: 1.1em;
}



@media (max-aspect-ratio: 1/1) {
    #main-sidebar-container {
        flex-direction: column;
        min-height: 100vh;
        justify-content: space-between;
    }

    #main-sidebar-container>main {
        margin-bottom: 2rem;
    }

    #main-sidebar-container>aside {
        position: revert !important;
        right: revert !important;
        height: fit-content !important;
        bottom: 100% !important;
    }

    .sidebar-bottom {
        position: revert !important;
        bottom: revert !important;
        width: revert !important;
    }

    /* * {
        font-size: .9em;
    } */

    :root {
        --page-h1-font-size: 1.3em;
        --page-h2-font-size: 1.25m;
        --page-h3-font-size: 1.1em;
        --page-h4-font-size: 1em;

        --page-font-size: 1em;

    }
}

body {
    background-color: var(--base-background-color);

    background-image: var(--base-background-image);

    text-align: center;
    padding: 0px;
    margin: 0px 0px 0px 0px;

    font-family: var(--font);
}

#overlay-image {
    position: fixed;
    display: block;

    background-image: url('assets/paperoverlayrepeat.jpg');
    background-size: 100% auto;
    background-repeat: repeat;

    width: 100vw;
    height: 130vh;
    left: 0px;
    top: 0px;

    mix-blend-mode: multiply;
    opacity: 15%;

    pointer-events: none;

    z-index: 10;
}

#title-image {
    width: 80vw;
    max-height: 15rem;
}

#main-sidebar-container {
    display: flex;
}

#main-sidebar-container>main {
    min-width: 80vw;
    display: block;

}

#main-sidebar-container>aside {
    position: fixed;
    right: calc(100vw - 100% - 10px);

    min-width: 20vw;
    display: block;
    background-color: #e1dac5;
    height: 100vh;

    /* outline: #231f20 solid thick; */

    border-image-slice: 142.9 142.9 142.9 142.9;
    border-image-width: 20px 20px 20px 20px;
    border-image-outset: 10px;
    border-image-repeat: round round;
    border-image-source: url(assets/line\ outline.avif);

    border-style: solid;

}

.space-page {
    margin-top: 2rem;
}

.page {
    display: block;

    width: min(calc(100% - 2rem), 90rem);
    min-height: 10rem;
    padding: .25rem;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;

    background-color: var(--page-color);
    font-family: var(--font);
    font-size: var(--page-font-size);
}

/* I don't like reading center aligned text but it looks very nice so if the text is wrapped in a paragraph then left it. */
.page p {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

/* Adjust font size for small screens */
.page h1 {
    font-size: var(--page-h1-font-size);
}

.page h2 {
    font-size: var(--page-h2-font-size);
}

.page h3 {
    font-size: var(--page-h3-font-size);
}

.page h4 {
    font-size: var(--page-h4-font-size);
}

/* Make it ignore the overlay image and change the font to make it more readable for long text */

.readable-page {
    z-index: 20;
    position: sticky;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.sidebar-bottom {
    position: absolute;
    bottom: 1em;
    width: 100%;
}



/* Helpfull styles */

.align-text-left {
    width: 100vw;
    display: block;
    text-align: left;
    padding-left: 3rem;
}

/* Spacers */

.spacer-small {
    height: 2rem;
}

.spacer-medium {
    height: 4rem;
}


/* Logo */

.mini-logo {
    max-width: 300px;
    outline: 10px double #333333;
    outline-offset: .5rem;
}

/* Dividing Line */
.dividing-line {
    height: 5em;
    max-width: 40em;

    margin-bottom: 2em;


    border-image-slice: 0 477 477 477;
    border-image-repeat: round round;
    border-image-width: 0px 5em 5em 5em;

    border-image-source: url("assets/Divider.png");

}

/* Post Scroller */
.post-scroller {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content:center;
}

.post-scroller>a {
    text-decoration: none;
    color: black;

    transform: skewX(-2deg);
    
}

.post-scroller>a>.post {
    outline: var(--page-color) medium solid;
    outline-offset: .4em;
    background-color: var(--page-color);
    padding: .75em;
    margin: .5em;
    font-family: var(--font);
    max-width: 10em;
}